body{
    margin: 0;
}

nav{
    background-color: rgb(8, 34, 34);
    padding: 1vh 0;
    margin-bottom: 5vh;
}

.nav-link{
    text-decoration: none;
    font-size: 20px;
    color:#fafafa;
    padding: 0 10px;
}

p {
    text-align: center;
    font-size: 20px;
    margin-top: 38vh;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

li{
    list-style: none;
}

.submit-button{
    width: 10vw;
    height: 4vw;
    font-size: 18px;
    background-color: rgb(8, 34, 34);
    border: none;
    color: white;
    border-radius: 10px;
}

/*----SignUp Page----*/

.signup-section{
    text-align: center;
}

.signup-section h2{
    font-size: 40px;
}


.signup-form input{
    width: 30%;
    font-size: 22px;
    display: block;
    margin: 13px auto;
    border-radius: 6px;
}